Testing/sensor.community/month-scrape/2022-12
Testing/sensor.community/device-scrape/get-archive/data
Testing/sensor.community/device-scrape/GUI/data
DataServer2/central/node_modules
EU-SC/SC/SCPublicData-master/node_modules
GermanyPoC/sensor.community/temp
Poslji Juretu
FinalData/Air Quality Health Risk Assessments (NUTS)/Data
FinalData/European Air Quality Portal - E1 Download/Downloaded files
FinalData/European Air Quality Portal - E1 Download/combined-1.csv
FinalData/European Air Quality Portal - E1 Download/combined-5.csv
FinalData/European Air Quality Portal - E1 Download/combined-7.csv
FinalData/European Air Quality Portal - E1 Download/combined-8.csv
FinalData/European Air Quality Portal - E1 Download/combined-10.csv
FinalData/European Air Quality Portal - E1 Download/combined-38.csv
Weather/data